:root{
    --danger-text:rgba(230, 16, 16, 1);
    --button: rgba(232, 38, 26, 1);
    --notice-text: rgba(244, 92, 45, 1);
    --selecting: rgb(221, 54, 3);
    --instruction-div: rgba(243, 210, 93, 1);
    --selection:#00b300;
    --selected: #3f433f;
    --normal-text: rgba(255, 255, 255, 1);
    --sub-heading: rgba(112, 182, 204, 1);
    --couple-seat: #3b5998;
    --nav-color:rgba(91, 88, 88, 0.136);
    --nav-text-color:rgb(152, 156, 159);
    --instruction-text:rgba(32, 31, 28, 1);
    --background-color: rgba(16, 16, 16, 1);
    --vip: #eead16;
    --matxa:#de128c;
    --lying: rgb(25, 215, 233); 
}
body{
    background-color: black;
}
.nav{
    background-color: var(--nav-color);
    color: var(--normal-text);
}
.nav .nav-item p{
    font-size: 10px;
}
.inforder{
    background-color: var(--nav-color);
    font-size: 12px;
    color: var(--normal-text);
}
button{
    color: var(--normal-text);
    font-weight: 700;
    background-color: var(--button);
}
.legend{
    display: block;
    text-align: center;
}
.seat_type{
    font-size: 12px;
    font-weight:600;
    margin: 10px;
    margin-bottom: 0px;
    color: var(--normal-text);
}
.seat_ins{
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 2px;
}
.seat_0{
    background-color: var(--selection);
}
.seat_1{
    background-color: var(--lying);
}
.seat_2{
    background-color: var(--normal-text);
}
.seat_3{
    background-color: var(--couple-seat);
}
.seat_4{
    opacity: 0.5;
    background-color: var(--selected);
}
.seat_5{
    background-color: var(--vip);
}
.seat_6{
    background-color: var(--matxa);
}

.space{
    display: block;
    width: 20px;
    height: 20px;
    /* background-color: var(--button); */
    margin-top: 2px;
}
.seat_row_nb{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 20px;
    background-color: var(--button);
    font-weight: bold;
}
.screen{
    background-color: var(--nav-color);
    color: var(--nav-text-color);
}
*::-webkit-scrollbar {
    display: none; 
}

.row_seat{
    overflow: scroll;
    padding: 0;
    margin: 0;
}
.seat{
    width: 25px;
    height: 25px;
    background-color: aliceblue;
    display: inline-block;
    margin: 3px;
    padding: 3px 6px;
    text-align: center;
    vertical-align: middle;
    box-sizing: border-box;
    font-size: 12px;
    font-weight: 800;
    cursor: pointer;
    outline: none;
    border-radius: 2px;
}
.seat[data-available="flase"] + {
    display: none;
}
.seat[data-selected="true"] {
    box-shadow: 0 0 8px #00b300;
    background-color: #00b300!important;
    text-indent: 0;
}
.seat[data-selected="true"] + p{
    margin: 0;
    padding: 0;
    display: block;
}
.seat[data-available="false"] {
    opacity: 0.5;
    box-shadow: 0 0 1px #000000;
    background-color: #3f433f!important;
}
.seat[data-price='200000']{
    background-color: var(--matxa);
}
.seat[data-price='300000']{
    background-color: var(--vip);
}
.seat[data-price='150000']{
    background-color: var(--lying);
}
.seat[data-price='250000']{
    background-color: var(--couple-seat);
}
