.container-fluid{
    background-color:black;
}
#video{
    width:1200px;
    height:600px;
    margin-left: auto;
    margin-right: auto;
    display:block;
    align-items: center;
    padding-top: 40px;
}


.carousel-control-prev,
.carousel-control-next {
    width: 10%;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-size: 30%;
    background-position: center;
    background-repeat: no-repeat;
}

.carousel-item.active .row {
    justify-content: center;
}
p {
      color:white;
      font-size: 20px;
}
#videoSlider{
      margin-left:90px;
}
h2  {
      margin-left:90px;
      color:white;
      margin-top: 50px;
      margin-bottom: 50px;   
}
*::-webkit-scrollbar{
    display: none;
  }
  html{
    background-color: black;
    scrollbar-width: thin;
    scrollbar-width:none;
    -ms-overflow-style: none;
    color: white;
    font-size: 15px;
   
  }
  .container-fluid{
    background-color: black;
    color: aliceblue;
  }
  .heading_table{
    display: flex;
    
    white-space: nowrap;
    color:aliceblue;
    
  }
  .heading_table div{
    margin-right: 20px;
  }
  .info_film{
    font-size: 15px;
  }
  /* .heading_table p{
    font-size: 20px; */
  /* }
   ul{
    display: flex;
    
    padding: 0;
    justify-content: space-between;
  
  }
  h3{
    color:aliceblue;
  }
  
  .fixed-content{
    margin-right: 230px;
    position: relative;
    color:aliceblue;
  } */