:root{
    --danger-text:rgba(230, 16, 16, 1);
    --button: rgba(232, 38, 26, 1);
    --notice-text: rgba(244, 92, 45, 1);
    --selecting: rgb(221, 54, 3);
    --instruction-div: rgba(243, 210, 93, 1);
    --selection:rgba(48, 210, 45, 1);
    --normal-text: rgba(255, 255, 255, 1);
    --sub-heading: rgba(112, 182, 204, 1);
    --couple-seat: rgba(40, 54, 103, 1);
    --nav-color:rgba(91, 88, 88, 0.136);
    --nav-text-color:rgb(75, 77, 78);
    --instruction-text:rgba(32, 31, 28, 1);
    --background-color: rgba(16, 16, 16, 1);
}
body{
    background-color: black;
}
.nav{
    background-color: var(--nav-color);
}
.nav .nav-item p{
    font-size: 10px;
}
/* .col-2 {
    flex: 0 0 auto;
    width: 18%;
    color: var(--nav-text-color);
}
.col-1 {
    flex: 0 0 auto;
    width: 7%;
    color: var(--nav-text-color); */
/* } */
.info_order{
    background-color: var(--nav-color);
    font-size: 12px;
    color: var(--nav-text-color);
}
.legend{
    display: block;
    text-align: center;

}
.seat_type{
    display: inline-block;
    font-size: 12px;
    margin: 10px;
    margin-bottom: 0px;
}
.seat{
    display: inline-block;
    width: 10px;
    height: 10px;
}
.seat_1{
    background-color: pink;
}
.seat_2{
    background-color: green;
}
.seat_3{
    background-color: blue;
}
.seat_4{
    background-color: red;
}
.space{
    display: block;
    width: 20px;
    height: 20px;
    /* background-color: var(--button); */
    margin-top: 2px;
}
.seat_row{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 20px;
    background-color: var(--button);
    font-weight: bold;
}
.screen{
    background-color: var(--nav-color);
    color: var(--nav-text-color);
}
