:root{
    --danger-text:rgba(230, 16, 16, 1);
    --button: rgba(232, 38, 26, 1);
    --notice-text: rgba(244, 92, 45, 1);
    --selecting: rgb(221, 54, 3);
    --instruction-div: rgba(243, 210, 93, 1);
    --selection:rgba(48, 210, 45, 1);
    --normal-text: rgba(255, 255, 255, 1);
    --sub-heading: rgba(112, 182, 204, 1);
    --couple-seat: rgba(40, 54, 103, 1);
    --nav-color:rgba(91, 88, 88, 0.136);
    --nav-text-color:rgb(75, 77, 78);
    --instruction-text:rgba(32, 31, 28, 1);
    --background-color: rgba(16, 16, 16, 1);
}
body{
    background-color: black;
}
*{
    box-sizing: border-box;
    font-size: 15px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
.horizon_line{
    /* display: block; */
    height: 1px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: black;
}
.vertical_line{
    /* display: block; */
    width: 2px;
    height: auto;
    margin-left: 5px;
    margin-right: 5px;
    background-color: white;
}
.menu{
    list-style-type: none;
    padding: 0;
}
.nav_item{
    display: flex;
    flex-direction: row;
}
.nav_item a{
    text-decoration: none;
    font-weight: 600;
    color: rgb(226, 225, 225);
    white-space: nowrap;
}
.brief{
    color: antiquewhite;
}
img{
    border-radius: 50%;
}
.phone_nb{
    font-weight: bolder;
    font-size: 20px;
}
.person{
    font-size: 14px;
}
.info_text{
    margin-left: 20px;
    color: white;
    text-decoration: none;
}
.modal-content{
    background-color: rgb(87, 87, 87);
}
.nav_item:hover {
    background-color: var(--nav-color);
}