*{
    box-sizing: border-box;
    font-size: 15px;
}
.horizon_line{
    /* display: block; */
    height: 1px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: black;
}
.vertical_line{
    /* display: block; */
    width: 2px;
    height: auto;
    margin-left: 5px;
    margin-right: 5px;
    background-color: white;
}
.menu{
    list-style-type: none;
    padding: 0;
}
.nav_item{
    display: flex;
    flex-direction: row;
}
.nav_item a{
    text-decoration: none;
    font-weight: 600;
    color: black;
    white-space: nowrap;
}
.brief{
    color: antiquewhite;
}
img{
    border-radius: 50%;
}
.phone_nb{
    font-weight: bolder;
    font-size: 20px;
}
.person{
    font-size: 14px;
}
.info_text{
    margin-left: 20px;
    color: white;
}
